doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title GitVault
  meta(name='viewport', content='width=device-width, initial-scale=1')
  // jQuery
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css', integrity='sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt', crossorigin='anonymous')
  link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
  link(rel='stylesheet', type='text/css', media='screen', href='main.css')
  script(src='main.js')
  script(src='http://code.jquery.com/jquery-2.1.4.min.js')
  script(src='setActiveNavItem.js')
  // <script src="main.js"></script>
  style.
// Header, icon
.containerHead(align='center')
  // Navigation Bar
  //
    <div id="nav-placeholder"></div>
    <script>
    $.get("nav.html", function(data){
    $("#nav-placeholder").replaceWith(data);
    });
    </script>
  // Navigation Bar
  include nav.pug
  
h1(style='color:red;font-size:30px;')
  b
    | GitVault
    | -&Kappa;&omicron;&iota;&nu;&omega;&nu;&iota;&kappa;&#x3AE; &pi;&lambda;&alpha;&tau;&phi;&#x3CC;&rho;&mu;&alpha; git &gamma;&iota;&alpha; &pi;&rho;&omicron;&gamma;&rho;&alpha;&mu;&mu;&alpha;&tau;&iota;&sigma;&tau;&#x3AD;&sigmaf;.
    | &Epsilon;&gamma;&chi;&epsi;&iota;&rho;&#x3AF;&delta;&iota;&omicron; &Chi;&rho;&#x3AE;&sigma;&eta;&sigmaf;
h3
  | &Pi;&#x3AD;&tau;&sigma;&eta;&sigmaf; &Kappa;&omega;&nu;&sigma;&tau;&alpha;&nu;&tau;&#x3AF;&nu;&omicron;&sigmaf; 2168
  | &Delta;&eta;&mu;&#x3AE;&tau;&rho;&eta;&sigmaf; &Zeta;&iota;&#x3CE;&gamma;&alpha;&sigmaf; 2214
.alignV
  h3
    | &Tau;&omicron; GitVault  &alpha;&pi;&omicron;&tau;&epsi;&lambda;&epsi;&#x3AF; &mu;&#x3AF;&alpha; online &pi;&lambda;&alpha;&tau;&phi;&#x3CC;&rho;&mu;&alpha; &sigma;&upsi;&lambda;&lambda;&omicron;&gamma;&#x3AE;&sigmaf;,&alpha;&pi;&omicron;&theta;&#x3AE;&kappa;&epsi;&upsi;&sigma;&eta;&sigmaf; &kappa;&alpha;&iota; &delta;&iota;&alpha;&mu;&omicron;&iota;&rho;&alpha;&sigma;&mu;&omicron;&#x3CD; &kappa;&#x3CE;&delta;&iota;&kappa;&alpha; &kappa;&alpha;&iota; &pi;&rho;&omicron;&gamma;&rho;&alpha;&mu;&mu;&alpha;&tau;&iota;&sigma;&tau;&iota;&kappa;&#x3CE;&nu; project &tau;&alpha; &omicron;&pi;&omicron;&#x3AF;&alpha; &theta;&alpha; &epsi;&#x3AF;&nu;&alpha;&iota; &epsi;&#x3CD;&kappa;&omicron;&lambda;&alpha;  &pi;&rho;&omicron;&sigma;&beta;&#x3AC;&sigma;&iota;&mu;&alpha; &alpha;&pi;&#x3CC; &#x3CC;&lambda;&omicron;&upsi;&sigmaf; &tau;&omicron;&upsi;&sigmaf; &chi;&rho;&#x3AE;&sigma;&tau;&epsi;&sigmaf;.&Mu;&epsi; &tau;&eta;&nu; &lambda;&epsi;&iota;&tau;&omicron;&upsi;&rho;&gamma;&#x3AF;&alpha; explore  &kappa;&alpha;&iota; &mu;&#x3AD;&sigma;&omega; &mu;&iota;&alpha;&sigmaf; &mu;&pi;&#x3AC;&rho;&alpha;&sigmaf; &alpha;&nu;&alpha;&zeta;&#x3AE;&tau;&eta;&sigma;&eta;&sigmaf; &omicron; &kappa;&#x3AC;&theta;&epsi; &chi;&rho;&#x3AE;&sigma;&tau;&eta;&sigmaf;  &mu;&pi;&omicron;&rho;&epsi;&#x3AF; &nu;&alpha; &pi;&epsi;&rho;&iota;&eta;&gamma;&eta;&theta;&epsi;&#x3AF; &sigma;&tau;&alpha; &sigma;&chi;&epsi;&tau;&iota;&kappa;&#x3AC; &mu;&epsi; &tau;&eta;&nu; &alpha;&nu;&alpha;&zeta;&#x3AE;&tau;&eta;&sigma;&eta; &tau;&omicron;&upsi; project &#x3AC;&lambda;&lambda;&omega;&nu; &chi;&rho;&eta;&sigma;&tau;&#x3CE;&nu;.&Tau;&alpha; &alpha;&pi;&omicron;&tau;&epsi;&lambda;&#x3AD;&sigma;&mu;&alpha;&tau;&alpha; &tau;&eta;&sigmaf; &alpha;&nu;&alpha;&zeta;&#x3AE;&tau;&eta;&sigma;&eta;&sigmaf;  &#x3AD;&chi;&omicron;&upsi;&nu; &tau;&eta;&nu; &mu;&omicron;&rho;&phi;&#x3AE;  preview video &tau;&alpha; &omicron;&pi;&omicron;&#x3AF;&alpha;  &alpha;&nu;&epsi;&beta;&#x3AC;&zeta;&epsi;&iota; &omicron; &kappa;&#x3AC;&theta;&epsi; &chi;&rho;&#x3AE;&sigma;&tau;&eta;&sigmaf; &mu;&alpha;&zeta;&#x3AF; &mu;&epsi; &tau;&omicron; project &tau;&omicron;&upsi; &delta;&epsi;&#x3AF;&chi;&nu;&omicron;&nu;&tau;&alpha;&sigmaf; &tau;&alpha; &beta;&alpha;&sigma;&iota;&kappa;&#x3AC; &sigma;&tau;&omicron;&iota;&chi;&epsi;&#x3AF;&alpha; &tau;&omicron;&upsi; &kappa;&#x3CE;&delta;&iota;&kappa;&alpha; &tau;&omicron;&upsi;.&Mu;&#x3AD;&sigma;&omega; &tau;&omega;&nu; preview videos  &eta; &delta;&iota;&alpha;&delta;&iota;&kappa;&alpha;&sigma;&iota;&alpha; &epsi;&upsi;&rho;&#x3AD;&sigma;&eta;&sigmaf; &tau;&omicron;&upsi; &kappa;&alpha;&tau;&#x3AC;&lambda;&lambda;&eta;&lambda;&omicron;&upsi; project &gamma;&#x3AF;&nu;&epsi;&tau;&alpha;&iota; &pi;&iota;&omicron; &alpha;&pi;&lambda;&#x3AE;,&epsi;&#x3CD;&kappa;&omicron;&lambda;&eta; &kappa;&alpha;&iota; &gamma;&rho;&#x3AE;&gamma;&omicron;&rho;&eta;.&Mu;&pi;&omicron;&rho;&omicron;&#x3CD;&mu;&epsi; &nu;&alpha; &phi;&alpha;&nu;&tau;&alpha;&sigma;&tau;&omicron;&#x3CD;&mu;&epsi; &tau;&omicron; interface &tau;&omicron;&upsi; explore &sigma;&alpha;&nu; &tau;&eta;&nu; &iota;&sigma;&tau;&omicron;&sigma;&epsi;&lambda;&#x3AF;&delta;&alpha; &Upsilon;outube &#x3CC;&pi;&omicron;&upsi; &kappa;&#x3AC;&tau;&omega; &alpha;&pi;&#x3CC;  &kappa;&#x3AC;&theta;&epsi; &beta;&iota;&nu;&tau;&epsi;&omicron;  &theta;&alpha; &upsi;&pi;&#x3AC;&rho;&chi;&omicron;&upsi;&nu; &tau;&alpha; &alpha;&rho;&chi;&epsi;&#x3AF;&alpha; &tau;&omicron;&upsi; project &kappa;&alpha;&iota; &tau;&alpha; &sigma;&chi;&#x3CC;&lambda;&iota;&alpha; &#x3AC;&lambda;&lambda;&omega;&nu; &chi;&rho;&eta;&sigma;&tau;&#x3CE;&nu; &kappa;&#x3AC;&nu;&omicron;&nu;&tau;&alpha;&sigmaf; &#x3AD;&tau;&sigma;&iota; &tau;&omicron; GitVault &pi;&iota;&omicron; social-oriented.
    | &Eta; &alpha;&nu;&alpha;&zeta;&#x3AE;&tau;&eta;&sigma;&eta;  &tau;&omega;&nu; project  &mu;&pi;&omicron;&rho;&#x3AD;&iota; &nu;&alpha; &gamma;&iota;&nu;&epsi;&#x3AF; &kappa;&alpha;&iota; &alpha;&pi;&#x3CC; &mu;&eta; &epsi;&gamma;&gamma;&epsi;&gamma;&rho;&alpha;&mu;&#x3AD;&nu;&omicron;&upsi;&sigmaf; &chi;&rho;&#x3AE;&sigma;&tau;&epsi;&sigmaf; &alpha;&lambda;&lambda;&#x3AC;  &mu;&epsi; &tau;&eta;&nu; &delta;&eta;&mu;&iota;&omicron;&upsi;&rho;&gamma;&#x3AF;&alpha; &lambda;&omicron;&gamma;&alpha;&rho;&iota;&alpha;&sigma;&mu;&omicron;&#x3CD; &omicron; &chi;&rho;&#x3AE;&sigma;&tau;&eta;&sigmaf; &mu;&pi;&omicron;&rho;&epsi;&#x3AF; &nu;&alpha; &alpha;&nu;&epsi;&beta;&#x3AC;&zeta;&epsi;&iota; &kappa;&alpha;&iota; &nu;&alpha; &tau;&rho;&omicron;&pi;&omicron;&pi;&omicron;&iota;&epsi;&#x3AF; &tau;&alpha; &alpha;&rho;&chi;&epsi;&#x3AF;&alpha; &sigma;&#x3CD;&mu;&phi;&omega;&nu;&alpha; &mu;&epsi; &tau;&iota;&sigmaf; &lambda;&epsi;&iota;&tau;&omicron;&upsi;&rho;&gamma;&epsi;&#x3AF;&epsi;&sigmaf; &tau;&omicron;&upsi; Git &#x3AE; &nu;&alpha; &alpha;&lambda;&lambda;&eta;&lambda;&epsi;&pi;&iota;&delta;&rho;&#x3AC; &mu;&epsi; &tau;&alpha; &#x3AC;&lambda;&lambda;&alpha; projects &kappa;&alpha;&iota; &chi;&rho;&#x3AE;&sigma;&tau;&epsi;&sigmaf; &gamma;&rho;&#x3AC;&phi;&omicron;&nu;&tau;&alpha;&sigmaf; &kappa;&#x3AC;&pi;&omicron;&iota;&omicron; &sigma;&chi;&#x3CC;&lambda;&iota;&omicron; &#x3AE; &alpha;&phi;&#x3AE;&nu;&omicron;&nu;&tau;&alpha;&sigmaf; &#x3AD;&nu;&alpha; Like... &#x3AE; &kappa;&alpha;&iota; Dislike!
  h1 1. &Delta;&eta;&mu;&iota;&omicron;&upsi;&rho;&gamma;&#x3AF;&alpha; &lambda;&omicron;&gamma;&alpha;&rho;&iota;&alpha;&sigma;&mu;&omicron;&#x3CD; 
  p
    | &Alpha;&rho;&chi;&iota;&kappa;&#x3AC; &kappa;&#x3AC;&nu;&omicron;&upsi;&mu;&epsi; sign up  &beta;&#x3AC;&zeta;&omicron;&nu;&tau;&alpha;&sigmaf; &#x3AD;&nu;&alpha; username , email &kappa;&alpha;&iota; &epsi;&nu;&alpha;&nu; &kappa;&#x3CE;&delta;&iota;&kappa;&omicron; &kappa;&alpha;&iota; &pi;&alpha;&tau;&#x3AC;&mu;&epsi; &epsi;&gamma;&gamma;&rho;&alpha;&phi;&#x3AE; &#x3CC;&pi;&omega;&sigmaf;  &sigma;&tau;&omicron; &pi;&alpha;&rho;&alpha;&kappa;&#x3AC;&tau;&omega;  gif.
  img(src='gifs/Register.gif', alt='this slowpoke moves', width='800/')
  h1 2. &Sigma;&#x3CD;&nu;&delta;&epsi;&sigma;&eta; &lambda;&omicron;&gamma;&alpha;&rho;&iota;&alpha;&sigma;&mu;&#x3CC;&upsi; 
  p
    | &#x386;&phi;&omicron;&upsi; &#x3AD;&chi;&omicron;&upsi;&mu;&epsi; &kappa;&#x3AC;&nu;&epsi;&iota; &epsi;&gamma;&gamma;&rho;&alpha;&phi;&#x3AE;  &sigma;&upsi;&nu;&delta;&epsi;&#x3CC;&mu;&alpha;&sigma;&tau;&epsi; &sigma;&tau;&omicron; &lambda;&omicron;&gamma;&alpha;&rho;&iota;&alpha;&sigma;&mu;&#x3CC; &mu;&alpha;&sigmaf; &beta;&#x3AC;&zeta;&omicron;&nu;&tau;&alpha;&sigmaf; &tau;&omicron; email &kappa;&alpha;&iota; &tau;&omicron;&nu; &kappa;&omega;&delta;&iota;&kappa;&#x3CC; &pi;&omicron;&upsi; &sigma;&upsi;&mu;&pi;&lambda;&eta;&rho;&#x3CE;&sigma;&alpha;&mu;&epsi; &pi;&rho;&iota;&nu; &#x3CC;&pi;&omega;&sigmaf; &sigma;&tau;&omicron; &pi;&alpha;&rho;&alpha;&kappa;&#x3AC;&tau;&omega; gif.
  img(src='gifs/Login.gif', alt='this slowpoke moves', width='800/')
  h1 3.&Mu;&epsi;&tau;&alpha;&phi;&#x3CC;&rho;&tau;&omega;&sigma;&eta; &alpha;&rho;&chi;&epsi;&#x3AF;&omega;&nu;/Upload files(upload.html) 
  p
    | &Gamma;&iota;&alpha; &nu;&alpha; &mu;&epsi;&tau;&alpha;&phi;&omicron;&rho;&tau;&#x3CE;&sigma;&omicron;&upsi;&mu;&epsi; &tau;&omicron; project &mu;&alpha;&sigmaf;, &#x3AD;&chi;&omicron;&upsi;&mu;&epsi; &delta;&#x3CD;&omicron; &tau;&rho;&#x3CC;&pi;&omicron;&upsi;&sigmaf;.&Mu;&epsi; Drag n Drop &#x3AE; &alpha;&pi;&lambda;&#x3AC; &kappa;&#x3AC;&nu;&omicron;&nu;&tau;&alpha;&sigmaf; &kappa;&lambda;&iota;&kappa; &sigma;&tau;&eta;&nu; &pi;&epsi;&rho;&iota;&omicron;&chi;&#x3AE; &kappa;&alpha;&iota; &epsi;&pi;&iota;&lambda;&#x3AD;&gamma;&omicron;&nu;&tau;&alpha;&sigmaf; &tau;&omicron; &phi;&#x3AC;&kappa;&epsi;&lambda;&#x3CC; &mu;&alpha;&sigmaf; &alpha;&pi;&#x3CC; &tau;&omicron;&nu; &pi;&epsi;&rho;&iota;&eta;&gamma;&eta;&tau;&#x3AE; &alpha;&rho;&chi;&epsi;&#x3AF;&omega;&nu; &pi;&omicron;&upsi; &mu;&alpha;&sigmaf; &alpha;&nu;&omicron;&#x3AF;&gamma;&epsi;&tau;&alpha;&iota;, &#x3CC;&pi;&omega;&sigmaf; &sigma;&tau;&omicron; &pi;&alpha;&rho;&alpha;&kappa;&#x3AC;&tau;&omega; &beta;&#x3AF;&nu;&tau;&epsi;&omicron;.
  h2
    b A)Drag&rsquo;n&rsquo;Drop 
  img(src='gifs/UploadByDragNdrop.gif', alt='this slowpoke moves', width='800/')
  h2
    b B)&Mu;&epsi; &pi;&epsi;&rho;&iota;&#x3AE;&gamma;&eta;&sigma;&eta; 
  img(src='gifs/UploadByClick.gif', alt='this slowpoke moves', width='800/')
  h1
    | 4.&Pi;&epsi;&rho;&iota;&#x3AE;&gamma;&eta;&sigma;&eta; &#x3CC;&lambda;&omega;&nu; &tau;&omega;&nu; projects &sigma;&tau;&eta;&nu; &pi;&lambda;&alpha;&tau;&phi;&#x3CC;&rho;&mu;&alpha; &sigma;&alpha;&nu; &tau;&omicron; Youtube.(
    a(href='explore.html') explore.html
    | )
  p
    | &Alpha;&upsi;&tau;&#x3AE; &epsi;&#x3AF;&nu;&alpha;&iota; &eta; &alpha;&rho;&chi;&iota;&kappa;&#x3AE; &mu;&alpha;&sigmaf; &sigma;&epsi;&lambda;&#x3AF;&delta;&alpha;.&Sigma;&epsi; &kappa;&#x3AC;&theta;&epsi; project, &omicron; &chi;&rho;&#x3AE;&sigma;&tau;&eta;&sigmaf; &pi;&rho;&#x3AD;&pi;&epsi;&iota; &nu;&alpha; &alpha;&nu;&epsi;&beta;&#x3AC;&sigma;&epsi;&iota; &#x3AD;&nu;&alpha; &beta;&#x3AF;&nu;&tau;&epsi;&omicron; &sigma;&epsi; &mu;&omicron;&rho;&phi;&#x3AE; gif &#x3AD;&tau;&sigma;&iota; &#x3CE;&sigma;&tau;&epsi; &nu;&alpha; &phi;&alpha;&#x3AF;&nu;&epsi;&tau;&alpha;&iota; &pi;&omega;&sigmaf; &tau;&rho;&#x3AD;&chi;&epsi;&iota;.&#x388;&tau;&sigma;&iota;, &#x3CC;&tau;&alpha;&nu; &pi;&epsi;&rho;&iota;&eta;&gamma;&epsi;&#x3AF;&tau;&alpha;&iota; &#x3AD;&nu;&alpha;&sigmaf; &chi;&rho;&#x3AE;&sigma;&tau;&eta;&sigmaf;, &beta;&lambda;&#x3AD;&pi;&epsi;&iota; &tau;&omicron; &beta;&#x3AF;&nu;&tau;&epsi;&omicron; &mu;&alpha;&zeta;&#x3AF; &mu;&epsi; &tau;&omicron;&nu; &tau;&#x3AF;&tau;&lambda;&omicron; &tau;&omicron;&upsi; project &kappa;&alpha;&iota; &mu;&iota;&alpha; &mu;&iota;&kappa;&rho;&#x3AE; &pi;&epsi;&rho;&iota;&gamma;&rho;&alpha;&phi;&#x3AE;.
  img(src='gifs/explore.gif', alt='this slowpoke moves', width='800/')
  h1
    | 5.&Epsilon;&#x3AC;&nu; &epsi;&nu;&delta;&iota;&alpha;&phi;&#x3AD;&rho;&epsi;&tau;&alpha;&iota; &gamma;&iota;&alpha; &kappa;&#x3AC;&pi;&omicron;&iota;&omicron; project.(
    a(href='viewProject.html') viewProject.html
    | )
  p
    | &Epsilon;&#x3AC;&nu; &theta;&#x3AD;&lambda;&epsi;&iota; &pi;&epsi;&rho;&iota;&sigma;&sigma;&#x3CC;&tau;&epsi;&rho;&epsi;&sigmaf; &pi;&lambda;&eta;&rho;&omicron;&phi;&omicron;&rho;&#x3AF;&epsi;&sigmaf;, &mu;&pi;&omicron;&rho;&epsi;&#x3AF; &nu;&alpha; &kappa;&#x3AC;&nu;&epsi;&iota; &kappa;&lambda;&iota;&kappa; &sigma;&epsi; &alpha;&upsi;&tau;&#x3CC;, &kappa;&alpha;&iota; &eta; &sigma;&epsi;&lambda;&#x3AF;&delta;&alpha; &theta;&alpha; &tau;&omicron;&nu; &alpha;&nu;&alpha;&kappa;&alpha;&tau;&epsi;&upsi;&theta;&#x3CD;&nu;&epsi;&iota; &sigma;&tau;&eta; &sigma;&epsi;&lambda;&#x3AF;&delta;&alpha; viewProject.html.&Epsilon;&kappa;&epsi;&#x3AF; &mu;&pi;&omicron;&rho;&epsi;&#x3AF; &nu;&alpha; &delta;&epsi;&iota; &tau;&eta; &delta;&omicron;&mu;&#x3AE; &tau;&omicron;&upsi; &kappa;&#x3CE;&delta;&iota;&kappa;&alpha; &sigma;&alpha;&nu; &nu;&alpha; &pi;&epsi;&rho;&iota;&eta;&gamma;&epsi;&#x3AF;&tau;&alpha;&iota; &sigma;&epsi; &phi;&#x3AC;&kappa;&epsi;&lambda;&omicron; &alpha;&rho;&chi;&epsi;&#x3AF;&omega;&nu;.&Epsilon;&pi;&#x3AF;&sigma;&eta;&sigmaf;, &mu;&pi;&omicron;&rho;&epsi;&#x3AF; &nu;&alpha; &delta;&epsi;&iota; &kappa;&alpha;&iota; &sigma;&chi;&#x3CC;&lambda;&iota;&alpha; &#x3AC;&lambda;&lambda;&omega;&nu; &chi;&rho;&eta;&sigma;&tau;&#x3CE;&nu; &kappa;&alpha;&iota; &sigma;&tau;&omicron; &mu;&#x3AD;&lambda;&lambda;&omicron;&nu; &pi;&epsi;&rho;&iota;&sigma;&sigma;&#x3CC;&tau;&epsi;&rho;&alpha; &pi;&alpha;&rho;&#x3CC;&mu;&omicron;&iota;&alpha; projects &sigma;&tau;&omicron; &pi;&lambda;&#x3AC;&iota;.
  img(src='gifs/viewProject.gif', alt='this slowpoke moves', width='800/')
  h1
    | 6.&Alpha;&lambda;&lambda;&alpha;&gamma;&#x3AE; &rho;&upsi;&theta;&mu;&#x3AF;&sigma;&epsi;&omega;&nu;(
    a(href='profile.html') profile.html
    | , 
    a(href='projects.html') projects.html
    | )
  p
    | &Tau;&#x3AD;&lambda;&omicron;&sigmaf;, &epsi;&#x3AC;&nu; &theta;&#x3AD;&lambda;&epsi;&iota; &nu;&alpha; &alpha;&lambda;&lambda;&#x3AC;&xi;&epsi;&iota; &kappa;&#x3AC;&pi;&omicron;&iota;&alpha; &rho;&#x3CD;&theta;&mu;&iota;&sigma;&eta; &sigma;&tau;&omicron; &pi;&rho;&omicron;&phi;&#x3AF;&lambda; &tau;&omicron;&upsi;, &pi;&alpha;&rho;&alpha;&delta;&epsi;&#x3AF;&gamma;&mu;&alpha;&tau;&omicron;&sigmaf; &chi;&#x3AC;&rho;&iota;&nu;, &tau;&omicron; username &#x3AE; &tau;&omicron; password, &mu;&pi;&alpha;&#x3AF;&nu;&epsi;&iota; &sigma;&tau;&eta; &sigma;&epsi;&lambda;&#x3AF;&delta;&alpha; profile.html &#x3AE; &nu;&alpha; &delta;&epsi;&#x3AF; &tau;&#x3AF; projects &epsi;&chi;&epsi;&iota; &alpha;&nu;&epsi;&beta;&#x3AC;&sigma;&epsi;&iota; &kappa;&alpha;&iota; &tau;&#x3AF; &alpha;&pi;&omicron;&delta;&omicron;&chi;&#x3AE; &#x3AD;&chi;&omicron;&upsi;&nu; &sigma;&tau;&omicron;&upsi;&sigmaf; &#x3AC;&lambda;&lambda;&omicron;&upsi;&sigmaf; &pi;&rho;&omicron;&gamma;&rho;&alpha;&mu;&mu;&alpha;&tau;&iota;&sigma;&tau;&#x3AD;&sigmaf;, &mu;&pi;&alpha;&#x3AF;&nu;&epsi;&iota; &sigma;&tau;&eta; &sigma;&epsi;&lambda;&#x3AF;&delta;&alpha; projects.html
  img(src='gifs/Profile_edit_settings.gif', alt='this slowpoke moves', width='800/')
  img(src='gifs/Projects.gif', alt='this slowpoke moves', width='800/')
script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js', integrity='sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P', crossorigin='anonymous')

