script.
  function Login(){
    window.location.href += 'login/'+document.getElementById('loginUsername').value + '/' +document.getElementById('loginPassword').value;
  };
// Navigation Bar
nav.navbar.navbar-expand-md.navbar-dark.sticky-top
  // <a class="navbar-brand" href="index.html" style="color:rgb(47, 255, 203);">GitVault</a>
  img(src='Logo.png', alt='', width='100')
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navb', aria-expanded='true')
    span.navbar-toggler-icon
  #navb.navbar-collapse.collapse.hide
    ul#navbar-ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='/explore') Explore
      li.nav-item
        a.nav-link(href='/upload') Upload
      li.nav-item
        a.nav-link(href='/profile') Profile
      li.nav-item
        a.nav-link(href='/projects') Projects
      li.nav-item
        a.nav-link(href='/guide') Guide
    ul.nav.navbar-nav.ml-auto
      script.
        var authorized = true;
        var ProfilePicture = '1.png';
        //- var ptag = '!{ptag}';
      //- if ptag == "dsdasd"
      //-   h1 #{ptag}
      //- else
      //-   h1 ptag
      if authorized == false
        li.nav-item
          // <a class="nav-link" href="#"><span class="fas fa-user"></span> Sign Up</a>
          a.login(onclick="document.getElementById('modal-wrapperRegister').style.display='block'") Sign Up
        li.nav-item
          // <a class="nav-link" href="#"><span class="fas fa-sign-in-alt"></span> Login</a>
          a.login(onclick="document.getElementById('modal-wrapperLogin').style.display='block'") Login
      else if authorized == true
        img.avatar(src=ProfilePicture, alt='Avatar')
        form(action='/logout' method='post')
          input(type='submit' value='Logout')
      else
        h1 #{authorized} 1
// Navigation Bar

// Login Signup Form
#modal-wrapper.modal
  form.modal-content.animate(action='/action_page.php')
    .imgcontainer
      span.close(onclick="document.getElementById('modal-wrapper').style.display='none'", title='Close PopUp') &times;
      img.avatar(src='1.png', alt='Avatar')
      h1(style='text-align:center') Login/Register
    .container
      input(class= "loginUsername" id = "loginUsername" type='text', placeholder='Username/Email', name='loginUsername')
      input(class= "loginPassword" id = "loginPassword" type='password', placeholder='Password', name='loginPassword')
      // <button onclick="window.location.href='explore.html';">Login</button>
      // <input class="loginBtn" type="button" onclick="location.href='explore.html';" value="Login" />
      a.btn.btn-success.loginBtn(onclick='Login()') Login
      input(class = "registerUsername" id = "registerUsername" type='text', placeholder='Username', name='registerusername')
      input(class = "registerEmail" id = "registerEmail" type='text', placeholder='Email', name='registeremail')
      input(class = "registerPassword" id = "registerPassword" type='password', placeholder='Password', name='registerpassword')
      a.btn.btn-warning.loginBtn(href='') Register
      //
        <input class="verticallyCenter" type="checkbox" style="margin:26px 30px;"> Remember me
        <a class="verticallyCenter" href="#" style="text-decoration:none; float:right; margin-right:34px; margin-top:26px;">Forgot Password ?</a>
#modal-wrapperRegister.modal
  form.modal-content.animate(action='/register1') 
    .imgcontainer
      span.close(onclick="document.getElementById('modal-wrapperRegister').style.display='none'", title='Close PopUp') &times;
      img.avatar(src='1.png', alt='Avatar')
      h1(style='text-align:center') Register
    input(class = "registerUsername" id = "registerUsername" type='text', placeholder='Username', name='registerUsername')
    input(class = "registerEmail" id = "registerEmail" type='text', placeholder='Email', name='registerEmail')
    input(class = "registerPassword" id = "registerPassword" type='password', placeholder='Password', name='registerPassword')
    a.btn.btn-warning.loginBtn(href='') Register
#modal-wrapperLogin.modal
  form.modal-content.animate(action='/login1' method='post') 
    .imgcontainer
      span.close(onclick="document.getElementById('modal-wrapperLogin').style.display='none'", title='Close PopUp') &times;
      img.avatar(src='1.png', alt='Avatar')
      h1(style='text-align:center') Login
    input(type='text', placeholder='Username', name='loginUsername')
    input(type='password', placeholder='Password', name='loginPassword')
    input(type='submit' value='Login')
    //- a.btn.btn-warning.loginBtn(href='') Login